name: Publish Package

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      REGISTRY_URL: "https://npm.pkg.github.com"

    steps:
      - uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup
        with:
          registry-url: ${{ env.REGISTRY_URL }}

      - run: pnpm build

      - run: pnpm publish --no-git-checks --registry ${{ env.REGISTRY_URL }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
